@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    cursor: pointer;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background: #191919;
    cursor: auto;
}

p {
    color: #fff;
    font-size: 3.5rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 2px solid #000;
    background-image: url('../pics/space.jpg');
    background-position: center;
    background-size: cover;
    animation-name: back-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container-off{
    display: none;
}

i {
    position: absolute;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    right: 11%;
    top: 6%;
    z-index: 2;
}

@keyframes back-animation {
    0%{
        background-position: bottom;
    }100%{
        background-position: top;
    }
}

h1 {
    font-size: 5rem;
    color: #2a9df4;
}

a {
    color: inherit;
    text-decoration: none;
    border: 2px solid #b0b3b7;
    width: 25%;
    text-align: center;
    margin: 25px 0;
    font-size: 2rem;
    color: #fff;
    background: none;
}

.pie {
    background: none;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.pie>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
    margin-left: 20px;
    color: #000;
    font-size: 2rem;
    border: none;
}

.pie>a:nth-child(2){
    border: none;
    width: 90%;
    text-align: end;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.game-container-on {
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 2px solid #000;
    background-image: url('../pics/space-game.png');
    background-size: cover;
    animation-timing-function: linear;
    animation-name: back-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.player-position {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.player { 
    background-image: url('../pics/player/player.png');
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
}